






.ad1 {
    background-color: #F8F8F8;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
}

#circulo1 {

    position: absolute;
    left: 250px;
    margin-top: 33px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid green;
    
}

.x1 {

    position: absolute;
    width: 2px;
    height: 24px;
    background-color: green;

    display: block;
    content: "";
    top: 30%;
    left: 23px;

    transform: rotate(35deg);
}

.x2 {

    position: absolute;
    width: 2px;
    height: 24px;
    background-color: green;

    display: block;
    content: "";
    top: 30%;
    left: 23px;

    transform: rotate(145deg);
}







.divs {
    width: 100px;
    height: 100px;
    
    position: absolute;
    left: 100px;
}



.autoContra {
    background-color: #ECECEC;
    border-style: inherit;
    border-radius: 10px;
    position: absolute;
    left: 50px;
    margin-top: 160px;
    width: 250px;
    height: 130px;
}

.desenhe {
    position: absolute;
    left: 35px;
    margin-top: 23px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid #178864;
    background: #178864;


}

.desenhe2 {


    position: absolute;
    left: 3px;
    margin-top: 3px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 2px solid white;



}
.desenhe3{

    position: absolute;
        left: 7.4px;
        margin-top: 7.2px;
        border-radius: 50px 0px 0px 50px;
        width: 11px;
        height: 20px;
        
        background: white;
    
    }
#btn{


position: absolute;
left: 55px;
margin-top: 30px;

}

#btn1{


    position: absolute;
    left: 55px;
    margin-top: 30px;
    
    }

    #btn2{


        position: absolute;
        left: 55px;
        margin-top: 30px;
        
        }


#textcelacess {

    position: absolute;
    left: 230px;
    top: 90px;
    font-weight: medium;
}

#textcelcontra {
    position: absolute;
    top: 48px;
    font-size: 13px;
    left: 15px;
}

.letras {

    color: #ECECEC;
    position: absolute;
    top: -30px;
    left: 14px;
    font-size: 25px;
}

.letras1 {

    color: #ECECEC;
    position: absolute;
    top: -8px;
    left: 4px;
    font-size: 15px;
}

.autoLinguagem {
    background-color: #ECECEC;
    border-style: inherit;
    border-radius: 10px;
    position: absolute;
    left: 50px;
    margin-top: 360px;
    width: 250px;
    height: 130px;
}



.autoLetra {
    background-color: #ECECEC;
    border-style: inherit;
    border-radius: 10px;
    position: absolute;
    left: 50px;
    margin-top: 560px;
    width: 250px;
    height: 130px;
}



#palito {
    position: relative;
    left: 125px;
    width: 2px;
    height: 80px;
    background: darkgreen;
    margin-top: 20px;
}

input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
}


label {
    display: block;
    width: 45px;
    height: 20px;
    background-color: #D7D7D7;
    border-radius: 100px;
    position: relative;
    left: 20px;
    cursor: pointer;
    transition: 0.5s;

}





label::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 70px;
    top: 0px;
    left: 0px;
    transition: 0.5s;
}

input:checked+label:after {
    left: calc(100%);
    transform: translateX(-100%);
}