.ad1 {
    background-color: #F8F8F8;
    height: 600px;
    width: 350px;
}



#circulo {

    position: absolute;
    left: 148px;
    margin-top: 33px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid green;

}

.x1 {

    position: absolute;
    width: 2px;
    height: 24px;
    background-color: green;

    display: block;
    content: "";
    top: 30%;
    left: 23px;

    transform: rotate(35deg);
}

.x2{

    position: absolute;
    width: 2px;
    height: 24px;
    background-color: green;

    display: block;
    content: "";
    top: 30%;
    left: 23px;

    transform: rotate(145deg);
}


    




.divs {
    width: 100px;
    height: 100px;

}



.autoContra {
    background-color: #ECECEC;
    border-style: inherit;
    border-radius: 3px 3px 3px 3px;
    position: absolute;
    left: 80px;
    margin-top: 160px;
    width: 180px;
    height: 90px;
}

.desenhe{
    position: absolute;
    left: 24px;
    margin-top: 23px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #178864;
    background: #178864;


}
.desenhe2{


    position: absolute;
    left: 3px;
    margin-top: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid white;



}
#textcelacess{

position: absolute;
left: 130px;
top: 90px;
font-weight:medium;
}

#textcelcontra{
position: absolute;
top: 45px;
font-size: 13px;
left: 5px;
}
.letras{

    color: #ECECEC;
    position: absolute;
    top: -16px;
    left: 14px;
    font-size: 20px;
}
.letras1{

    color: #ECECEC;
    position: absolute;
    top: -1px;
    left: 4px;
    font-size: 11px;
}

.autoLinguagem {
    background-color: #ECECEC;
    border-style: inherit;
    border-radius: 3px 3px 3px 3px;
    position: absolute;
    left: 80px;
    margin-top: 280px;
    width: 180px;
    height: 90px;
}



.autoLetra {
    background-color: #ECECEC;
    border-style: inherit;
    border-radius: 3px 3px 3px 3px;
    position: absolute;
    left: 80px;
    margin-top: 310px;
    width: 180px;
    height: 90px;
}



#palito {
    position: relative;
    left: 88px;
    width: 2px;
    height: 60px;
    background: darkgreen;
    margin-top: 20px;
}

input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
}


label {
    display: block;
    width: 45px;
    height: 20px;
    background-color: #D7D7D7;
    border-radius: 100px;
    position: relative;
    left: 20px;
    cursor: pointer;
    transition: 0.5s;

}





label::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 70px;
    top: 0px;
    left: 0px;
    transition: 0.5s;
}

input:checked+label:after {
    left: calc(100%);
    transform: translateX(-100%);
}