@font-face {
    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;

    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zenkakugothicantique/v15/6qLVKYkHvh-nlUpKPAdoVFBtfxDzIn1eCzpB22cM9TauMItwdlP0eiF9NCCYY662XlrPoX7MjA.2.woff2) format('woff2');

}

.cabecalho {
    position: relative;
}



#retangulo {
    top: 0%;
    position: absolute;
}


#petrobras {
    position: absolute;
    padding: 35px;
    margin-left: 70px;
    left: 1px;
    top: 1px;

}

#tres_linhas {
    position: relative;
    top: 40px;
    height: 50px;
    width: 50px;
}

h2 {
    font-family: 'Zen Kaku Gothic Antique';
    top: 1px;
    font-size: 80px;
    text-align: justify;
    display: flex;
    justify-content: right;
    text-align: right;
    padding: 40px;
    font-weight: 400;
    color: aliceblue;
    border: none;
    text-justify: distribute;
    position: relative;

}

#x {
    height: 35px;
    margin-left: 90px;
    position: fixed;
    top: 50px;
}

#bolaPetro {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 30.5%;
}



body {
    font-family: 'Zen Kaku Gothic Antique';
    margin: 0;
    padding: 0;
    font-weight: 1000px;
    background-image: url('imagem/FUNDO\ PAGINA\ INICIAL.png');
    background-repeat: no-repeat;
    background-size: 2000px 950px;
}


.main-content {
    display: flex;
    justify-content: center;
    margin-top: 258px;

}

.acessibilidade {

    justify-content: center;
    display: flex;
    height: 30px;
    right: 150px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 10px solid #fff;
    background-color: aliceblue;
    border-radius: 20px;

}

.acessibilidade-cel {
    display: none;
  
 

}
#ret {
    display: flex;
    justify-content: center;
    background: #faf8f8;
    width: 500px;
    height: 70px;
}


#circulo {

    position: absolute;
    right: 205px;
    margin-top: -13px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid grey;
   
}
.pessoa{

width: 42px;
height: 35px;
position: absolute;
right: 130px;
margin-top: 10px;

    
}


.aces{

    position: absolute;
    right: 100px;
    margin-top: 42px;
    
    }



.busq{


margin-top: 30px;

}
.icone.lupa {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    margin-top: 10px;
    right: -180px;
  }
  
  .icone.lupa:after {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: black;
  
    display: block;
    content: "";
    top: 30%;
    left: 50%;
    
    transform: rotate(45deg);
    transform-origin: -10px 15px;
    
  }

#linha1 {
    width: 20px;
    border: 1px solid #000;
    margin-top: 16px;
    position: relative;
    right: -0.9em;
}

#linha2 {
    margin-top: 6px;
    width: 20px;
    border: 1px solid #000;
    position: relative;
    right: -0.9em;
}

#linha3 {
    width: 20px;
    border: 1px solid #000;
    position: relative;
    right: -0.9em;
    margin-top: 6px;
}

#detf {

    width: 100%;
    height: 300px;
    image-resolution: initial;
}

button {
    all: unset;
    cursor: pointer;
    outline: revert;
}

.form {
    cursor: pointer;
}

.corpo {
    filter: grayscale(100%);
}

.letra {

    font-size: 100px;

}

#idioma{


position:absolute;
left: 150px;
margin-top: 10px;

}
.idioma{

    position: absolute;
    margin-top: -08px;
    left: -5px;
    }
    

#btnAcessibilidadeletra {

    right: 280px;

}

header {

    height: 500px;
}


#troca-titulo {

    right: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    width: 80px;
    font-size: 22px;
}

#troca-titulo1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    right: 480px;
    align-items: right;
    font-size: 22px;
    width: 80px;
}

input[type=text] {
    width: 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


input[type=text]:focus {
    width: 10%;
}

#pesquisa {

    background-image: url(imagem/ACESSIBILADEpesquisa.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: right;

    right: 10px;

}

#btnAcessibilidadecontraste {

    right: 220px;
}



#titulo-celular {
    margin-top: 0px;
    display: none;

}


@media screen and (max-width:1640px) {

    body {
        background-size: contain;

    }

}

#vector {
    height: 40%px;
    width: 100%;


}

footer {

    height: 100px;

}


@media screen and (max-width:1300px) {



    #verde2 {

        width: 100%;
        height: 2600px;


    }

    .acessibilidade {

        width: 40px;
        height: 30px;

    }


    #tres_linhas {
        width: 60px;
    }



    #retangulo {
        width: 600px;

    }

    #petrobras {
        width: 395px;


    }

    #btnAcessibilidadecontraste {
        width: 30px;
        right: 150px;
    }

    #btnAcessibilidadeletra {

        width: 60px;
        right: 210px;
    }

    #troca-titulo {


        right: 300px;
        width: 50px;
        font-size: 20px;
    }

    #troca-titulo1 {
        right: 380px;
        font-size: 18px;
        width: 50px;
    }

    body {

        background-size: contain;

    }

    #verde2 {

        margin-top: 130px;

    }

    .main-content {

        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin: none;
    }
}



@media screen and (max-width:1080px) {


    #rolin {

        width: 40px;
        height: 110px;

    }

    #vector {
        margin-top: -100px;
        height: 420px;
    }
}


@media screen and (max-width:1050px) {

    #verde2 {

        background-size: cover;


    }

    .acessibilidade {

        width: 10px;
        height: 20px;

    }


    #tres_linhas {
        width: 50px;
        margin-top: -12px;
    }



    #retangulo {
        width: 460px;

    }

    #petrobras {
        width: 270px;
        left: -50px;
        margin-top: -10px;

    }

    #btnAcessibilidadecontraste {
        width: 30px;
        right: 150px;
    }

    #btnAcessibilidadeletra {

        width: 60px;
        right: 210px;
    }

    #troca-titulo {


        right: 300px;
        width: 45px;
        font-size: 18px;
    }

    #troca-titulo1 {
        right: 380px;
        font-size: 16px;
        width: 50px;
    }

    .letra {

        font-size: 70px;

    }

    #rolin {

        margin-top: -50px;
        width: 40px;
        height: 110px;
    }

}


@media screen and (max-width:910px) {

    #rolin {

        display: flex;
        justify-content: center;
        margin-top: -100px;
        height: 120px;


    }

    .acessibilidade {

        width: 10px;
        height: 20px;

    }


    #tres_linhas {
        width: 50px;
        margin-top: -14px;
    }



    #retangulo {
        width: 400px;

    }

    #petrobras {
        width: 270px;
        left: -50px;
        margin-top: -10px;

    }

    #btnAcessibilidadecontraste {
        width: 30px;
        right: 150px;
    }

    #btnAcessibilidadeletra {

        width: 60px;
        right: 210px;
    }

    #troca-titulo {


        right: 300px;
        width: 45px;
        font-size: 18px;
    }

    #troca-titulo1 {
        right: 380px;
        font-size: 16px;
        width: 50px;
    }

    .letra {

        font-size: 50px;

    }

    #verde2 {

        background-size: cover;


    }


}




@media screen and (max-width:888px) {

    .acessibilidade {

        width: 10px;
        height: 20px;

    }


    #tres_linhas {
        width: 40px;
        height: 40px;
        margin-top: -14px;
    }



    #retangulo {
        width: 380px;

    }

    #petrobras {
        width: 250px;
        left: -50px;
        margin-top: -10px;

    }

    #btnAcessibilidadecontraste {
        width: 30px;
        right: 150px;
    }

    #btnAcessibilidadeletra {

        width: 60px;
        right: 210px;
    }

    #troca-titulo {


        right: 300px;
        width: 45px;
        font-size: 18px;
    }

    #troca-titulo1 {
        right: 380px;
        font-size: 16px;
        width: 50px;
    }

    #rolin {

        margin-top: -100px;


    }

    h2 {

        font-size: 40px;

    }

    header {

        height: 450px;
    }
}


@media screen and (max-width:800px) {


    #rolin {

        display: flex;
        justify-content: center;
        margin-top: -180px;
        height: 110px;


    }

    h2 {


        font-size: 40px;

    }

    #verde2 {


        margin-top: 40px;

    }


    .acessibilidade {

        width: 5px;
        height: 20px;

    }


    #tres_linhas {
        width: 30px;
        margin-top: -30px;
        height: 30px;
    }



    #retangulo {
        width: 360px;

    }

    #petrobras {
        width: 210px;
        left: -50px;
        margin-top: -12px;

    }

    #btnAcessibilidadecontraste {
        width: 27px;
        height: 24px;
        right: 130px;
    }

    #btnAcessibilidadeletra {

        width: 50px;
        height: 18px;
        right: 190px;
    }

    #troca-titulo {


        right: 270px;
        width: 40px;
        font-size: 16px;
    }

    #troca-titulo1 {
        right: 340px;
        font-size: 14px;
        width: 40px;
    }
}



@media screen and (max-width:750px) {

    header {

        height: 400px;


    }


    #rolin {


        margin-top: -100px;

    }



    #verde2 {


        margin-top: 100px;

    }

    #tres_linhas {
        height: 20px;
        height: 30px;
        top: 30px;
    }

    #retangulo {
        height: 80px;
        width: 302px;
    }

    #petrobras {
        top: -5px;
        width: 180px;
    }


    #btnAcessibilidadecontraste {
        width: 20px;
        height: 20px;
        right: 150px;
    }

    #btnAcessibilidadeletra {

        width: 40px;
        right: 210px;
    }

    #troca-titulo {


        right: 270px;
        width: 40px;
        font-size: 16px;
    }

    #troca-titulo1 {
        right: 340px;
        font-size: 14px;
        width: 40px;
    }


}

@media screen and (max-width:650px) {

    #tres_linhas {
        height: 10px;
        height: 30px;
        top: 30px;
    }

    #retangulo {
        height: 80px;
        width: 272px;
    }

    #petrobras {
        top: -5px;
        width: 170px;
    }

    .acessibilidade {

        height: 10px;
        width: 1px;
    }

    #btnAcessibilidadecontraste {
        width: 20px;
        height: 20px;
        right: 120px;
    }

    #btnAcessibilidadeletra {
        height: 20px;
        width: 35px;
        right: 170px;
    }

    #troca-titulo {

        height: 20px;
        right: 240px;
        width: 30px;
        font-size: 13px;
    }

    #troca-titulo1 {
        right: 300px;
        font-size: 12px;
        width: 35px;
        height: 20px;
    }

    #rolin {


        margin-top: -200px;

    }



    #verde2 {


        margin-top: 10px;

    }

}

@media screen and (max-width:500px) {

    .acessibilidade-cel {

display: flex;
justify-content: center;

    }

    #tres_linhas {
        display: none;
    }

    #retangulo {
        display: none;

    }

    #petrobras {
        display: none;

    }

    body {

        background-size: contain;

    }


    .acessibilidade {
        display: none;

    }

    main {

        height: 300px;

    }






    #cabecalho-celular {

        color: white;
        height: 30px;
        background-color: #c7bfbf;
    }


    #titulo-celular {


        display: flex;
    }


    #rolin {

        display: none;


    }


    #titulo {


        font-size: 30px;
    }

    #verde2 {

        margin-top: -85px;
    }

    .parab {
        display: none;
    }
}